.input__img {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    border: 1.5px dashed #aaa;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.uploads___image__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input {
    display: none;
}